<div style="height: 100%; width: 100%" class="d-flex flex-column">
  <!-- image -->
  <div class="post-image">
    <img [src]="post?.postImage">
  </div>
  <div class="post-actions">

  </div>
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row">
      <div class="user-story ml-2">
        <img [src]="post?.posterImage">
      </div>
      <div class="ml-2">
        <small class="fw-bold text-muted">{{post?.posterName}}</small>
      </div>
    </div>
    <div class="ml-auto">
      <i (click)="updateNbrOfLike()" role="button" style="color: red" class="fa fa-heart"></i>
      <small class="fw-bold text-muted">{{nbrOfLike}}</small>
      <i style="color: grey" class="fa fa-comment"></i>
      <small class="fw-bold text-muted">0</small>
    </div>
  </div>
</div>
